*{
	margin: 0px;
  	padding: 0px;
  	box-sizing: border-box;
}

body {
  background-image: url('../images/pattern.png');
}

.navbar-brand img{
	width: 59px;
	position: relative;
	bottom: 21px;
	
}

.section{
	padding-top: 80px;
	 

}


.section-primary{
	text-align: center;
	background-color: orange;
	height: 172px;
}

.section-primary p{
	color: black;
}
.section h1{
	color: white;
	font-family: 'Lobster', cursive;
}
.section p{
	color: white;
}

.jumbotron{
	background-image: url(../images/foto3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center;
	color: white;
}

.jumbotron h1{
	color: white;
	font-family: 'Lobster', cursive;
	margin-top: 64px;
}

.text-primary, .text-center {
    color: white;
    margin-bottom: 46px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    
}
.text-primary{
	 font-size:50px;
}
.section__historia h1,h3,p{
	color: white;
}

.imagen-principal{
	background-image: url('../images/hotok.jpg');
	background-size: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Lobster', cursive;
	
}

.imagen-principal h1{
	font-size: 58px;
	margin-top: 110px;
}

.imagen-principal p{
	font-size: 30px;
	font-family: 'Amaranth', sans-serif;
}

.btn-default{
	font-family: 'Amaranth', sans-serif;
}
.navbar{
	margin-bottom: 0;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.ibody{
	margin: 30px auto;
	width: 500px;
	color: white;
}

.ibody h1{
	font-size: 36px;
	text-align: center;
	padding: 50px;
	font-family: 'Lobster', cursive;
}
label, input{
	margin-top: 6px;
}

.container h1{
	color: white;
	font-family: 'Lobster', cursive;
}
.jumbotron__beer{
	background-image: url('../images/lata.jpg');
	background-repeat: no-repeat;
	font-family: 'Lobster', cursive;
}


#map {
        width: 100%;
        height: 50vh;
        margin-bottom: 40px;
        margin-top: 30px;
      }


.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: red;
}

.icon-whatsapp{
	background: green;
}

.icon-instagram {
	background: orange;
}


.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

@media (min-width:480px) { 
	.imagen-principal{
	background-image: url('../images/hotok.jpg');
	background-size: 100%;
	height: 54vh;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Lobster', cursive;
	
}

.imagen-principal h1{
	font-size: 30px;
	margin-top: 50px;
}

.imagen-principal p{
	font-size: 20px;
	font-family: 'Amaranth', sans-serif;
}

.btn-default{
	font-family: 'Amaranth', sans-serif;
	visibility: hidden;
}
.section{
	padding-top: 77px;
	 
}

.section-primary p{
	color: black;
}
.section h1{
	color: white;
	font-family: 'Lobster', cursive;
}
.section p{
	color: white;
}

.jumbotron{
	background-image: url(../images/foto3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position:center;
	color: white;
}

.jumbotron h1{
	color: white;
	font-family: 'Lobster', cursive;
	margin-top: 64px;
}

.text-primary, .text-center {
    color: white;
    margin-bottom: 46px;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    
}
.text-primary{
	 font-size:35px;
}
.section__historia h1,h3,p{
	color: white;

}


.container__media img{
	max-width: 65%;
    height: auto;
    margin-top:-60px;
    text-align: center;
}

.text-center-2{
	visibility: hidden;
}

.jumbotron__beer{
	background-image: url('../images/lata.jpg');
	background-repeat: no-repeat;
	font-family: 'Lobster', cursive;
	margin-bottom:  -96px;
	margin-top: -13px;
}

.ibody{
	margin: 30px auto;
	width: 334px;
	color: white;
}

.ibody h1{
	font-size: 31px;
	text-align: center;
	padding: 20px;
	font-family: 'Lobster', cursive;
}

.container h1{
	color: white;
	font-family: 'Lobster', cursive;
}
#map {
        width: 100%;
        height: 50vh;
        margin-bottom: 40px;
        margin-top: 30px;
      }
}

